<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="studentiFileName" value="..\\..\\Data\\studenti.txt"/>
      <add key="temeFileName" value="..\\..\\Data\\teme.txt"/>
      <add key="noteFileName" value="..\\..\\Data\\note.txt"/>
    </appSettings>
</configuration>