body {
    margin: 0;
    background-color: lightgray;
}

.continut {
    margin-left: 100px;
    margin-right: 100px;
}

.intrebare {
    position: relative;
    min-height: 100px;
    border-radius: 10px;
    background-color: white;
    border: 5px solid lightskyblue;
    margin-bottom: 10px;
}

.raspuns{
    position: relative;
    margin: 10px 10px 10px 50px;
    background-color: white;
    border-radius: 10px;
    min-height: 100px;
}
.avatar {

    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
}
img{
    border-radius: 5px;
}
.username {
    position: absolute;
    text-align: center;
    margin: 10px;
    width: 80px;
    background-color: lightskyblue;
    opacity: 0.5;
    top: 60px;
    left: 0px;
    font-weight: bold;
}

.raspuns form{
    width:80%;
    margin:0 auto;
}

.raspuns textarea{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.raspuns button {
    width: 20%;
    background-color: lightskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.raspuns input[type=submit]:hover {
    background-color: lightskyblue;
    opacity: 0.7;
}