<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="concursService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <!--<property name="serviceUrl" value="rmi://192.168.86.161:1099/Concurs"/>-->
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/Concurs"/>
        <property name="serviceInterface" value="services.IServer"/>
    </bean>


</beans>