<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input placeholder="Username" [(ngModel)]="username" ></ion-input>
    <ion-button (click)="login()">Identify me</ion-button>

    <ion-label *ngIf="isShowError">Error</ion-label>
    <br>
    <ion-button [disabled]="!canEnterInRoom" routerLink='/room' >Enter in rooms</ion-button>
    <ion-list *ngIf="!isShowError">
      <ion-item *ngFor="let item of items; let i = index">
        {{ item.text }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
