body{
    margin: 0;
}
div{
    width: 400px;
    margin:0 auto;
    height:auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1{
    text-align:center;
}

hr{
    width:90%;

}
form{
    width:90%;
    margin:0 auto;
}
input[type=file],[type=text], [type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: lightskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightskyblue;
    opacity: 0.7;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}