body {
    margin: 0;
    background-color: lightgray;
}

.continut {
    margin-left: 100px;
    margin-right: 100px;
}

.produs {

    position: relative;
    min-height: 50px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

