mtasks.jdbc.driver=org.sqlite.JDBC
mtasks.jdbc.url1=jdbc:sqlite:/Users/grigo/didactic/MPP/ExempleCurs/2017/database/tasks.db

mtasks.jdbc.url=jdbc:sqlite:/Users/grigo/didactic/MPP/databases/Tasks.db

tasks.jdbc.driver=com.mysql.jdbc.Driver
tasks.jdbc.url=jdbc:mysql://localhost:3306/mpp
tasks.jdbc.user=test
tasks.jdbc.pass=passtest