<ion-header>
    <ion-toolbar>
        <ion-title>
            Message Application
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-list>
            <ion-item-sliding *ngFor="let item of items">
                <ion-item (click)="showMessages(item.sender)">
                    <ion-label>{{item.sender}} [{{item.nr}}]</ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngIf="clicked" class="ion-padding">
        <p>User message</p>
        <ion-list>
            <ion-item-sliding *ngFor="let item of messages; let i = index" >
                <ion-item (click)="changeClass(i)">
                    <ion-label>{{item.created}}  </ion-label>
                    <ion-label [ngClass]="myClass[i]"> {{item.text}} </ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
