<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="cn" connectionString="Data Source=TEOFANA-PC; Initial Catalog=TabaraDeVara; Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="title" value="Gesionare Grupe-Participanti"/>
    <add key="fiu" value="Participanti"/>
    <add key="selectFiu" value="SELECT * FROM Participanti"/>
    <add key="nrColoaneFiu" value="5"/>
    <add key="eticheteFiu" value="IdParticipant,IdAsociatie,IdGrupa,Nume,DataNasterii"/>
    <add key="numeColoaneFiu" value="Pid,Aid,Gid,Nume,Data_n"/>
    <add key="ColumnNamesInsertParameters" value="@Pid,@Aid,@Gid,@Nume,@Data_n"/>
    <add key="ColumnNamesUpdateParameters" value="@Aid,@Gid,@Nume,@Data_n"/>
    
    <add key="idFiu" value="Pid"/>
    <add key="idParinte" value="Gid"/>
    <add key="parinte" value="Grupe"/>
    <add key="selectParinte" value="SELECT * FROM Grupe"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>