<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="cn" connectionString="Data Source=TEOFANA-PC; Initial Catalog=TabaraDeVara; Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="fiu" value="Participanti"/>
    <add key="selectFiu" value="SELECT * FROM Participanti"/>
    <add key="idParinte" value="Gid"/>
    <add key="parinte" value="Grupe"/>
    <add key="selectParinte" value="SELECT * FROM Grupe"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>