<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>Aplicatie Web cu Filtre</display-name>

    <filter>
        <filter-name>TextFilter</filter-name>
        <filter-class>pw.TextFilter</filter-class>
        <init-param>
            <param-name>inText</param-name>
            <param-value>prost</param-value>
        </init-param>
        <init-param>
            <param-name>outText</param-name>
            <param-value>ingeras</param-value>
        </init-param>
    </filter>
    <filter-mapping>
            <filter-name>TextFilter</filter-name>
            <url-pattern>/readme.txt</url-pattern>
    </filter-mapping>
</web-app>
