<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="messagesFileName" value="..\\..\\Data\\messages.txt"/>
    <add key="angajatiFileName" value="..\\..\\Data\\angajati.txt"/>
    <add key="sarciniFileName" value="..\\..\\Data\\sarcini.txt"/>
    <add key="pontajeFileName" value="..\\..\\Data\\pontaje.txt"/>
  </appSettings>
</configuration>