table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
td{
  width: 300px;
}
.but{
  width: 10px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
